.date_input {
  margin-top: 2px;
}
.date_input {
  margin-top: 2px;
}

.search_input {
  border: 1px solid #c5d0d8 ;
  height: 38px;
  border-radius: 8px;
  padding:19px 12px !important;
}

.search_input:focus {
  outline: none !important;
  border-color: #0046be;
  box-shadow: none;
}


/* DATE PICKER CSS */

.react-datepicker-wrapper {
  display: block !important;
}

.react-datepicker__triangle {
  display: none;
}

.react-datepicker__day.react-datepicker__day--keyboard-selected {
  border: none;
  border-radius: 7px;
  background-color: var(--dark);
  color: var(--white);
}

.react-datepicker__day-names {
  position: relative;
  top: -7px !important;
  color: white !important;
}

.react-datepicker__month {
  line-height: 3em !important;
}

.react-datepicker__day-name {
  width: 2.5em !important;
  line-height: 2.5em !important;
  color: white !important;
}

.react-datepicker__day.react-datepicker__day--keyboard-selected:hover {
  border: none;
  border-radius: 7px;
  background-color: var(--dark);
  color: var(--white);
}

.react-datepicker-popper .react-datepicker__navigation {
  padding-top: 12px;
  color: #000;
}

.react-datepicker {
  /* width: 300px !important; */
  /* height:30px !important; */
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.189);
  border: none !important;
}

.react-datepicker__header {
  /* border-bottom: solid 5px var(--light) !important; */

  background: rgb(19, 76, 95) !important;
}

.react-datepicker__month-container {
  float: none !important;
  margin: 0 auto !important;
}

.react-datepicker__current-month {
  color: white !important;
  font-size: 16px !important;
  margin-top: 10px !important;
}

.react-datepicker__day.react-datepicker__day--today {
  border-radius: 7px;
  border: solid 2px var(--brand) !important;
  background-color: white !important;
  color: var(--dark) !important;
  width: 30px;
  height: 30px;
}

.react-datepicker__day {
  margin: 7px !important;
}

.react-datepicker__day.react-datepicker__day--selected {
  border: none;
  border-radius: 50%;
  background-color: #fd7e14 !important;
  color: white;
}

.react-datepicker__day--selected:hover,
.react-datepicker__day--in-selecting-range:hover,
.react-datepicker__day--in-range:hover,
.react-datepicker__month-text--selected:hover,
.react-datepicker__month-text--in-selecting-range:hover,
.react-datepicker__month-text--in-range:hover,
.react-datepicker__quarter-text--selected:hover,
.react-datepicker__quarter-text--in-selecting-range:hover,
.react-datepicker__quarter-text--in-range:hover,
.react-datepicker__year-text--selected:hover,
.react-datepicker__year-text--in-selecting-range:hover,
.react-datepicker__year-text--in-range:hover {
  border: none;
  border-radius: 7px !important;
  background-color: var(--brand) !important;
  color: var(--dark) !important;
}

.react-datepicker__year-select {
  background-color: #fff !important;
  position: relative !important;
  top: -17px !important;
  left: 60px !important;
  font-size: 14px !important;
  display: none;
}

.react-datepicker__navigation-icon {
  top: 8px !important;
}

.react-datepicker__navigation {
  height: 40px !important;
}
